.mainbody{
	background-image: url(https://www.washingtonpost.com/resizer/NcD-eYjEnEEcTDnS1GZelQtAK5c=/1484x0/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/YBDXXTEX7JFCJP4JGBPBCIVLDU.jpg);
	vertical-align: center;
	align-content: center;
	background-size: cover;
}
#addTxt{
	border-radius: 10px;

}
#nothing{
	text-align: center;
}
.mainbody2{
	background-color: #D3D3D3;
}
.container my-3{
	background-color: grey;
}
#Heading{
	text-align: center;
}
#jumbo
{
	background-color:  rgb(255, 204, 255);
	padding: auto;
	align-content: center;
	vertical-align: center;
	margin: auto;
	margin-top: 100px;
	height: 500px;
	width: 450px;
}

#special
{
	background-color:  rgb(255, 204, 255);
	padding: auto;
	align-content: center;
	vertical-align: center;
	margin: auto;
	margin-top: 100px;
	height: 500px;
	width: 450px;
}


.display-4{
	text-align: center;
}
